services:
  mongo:
    container_name: mongo
    image: mongo:7.0
    restart: always
    expose:
      - '27017'
    env_file: ./backend/.env
    volumes:
      - data:/data/db
    networks:
      - chat-network
  backend:
    container_name: messaging_backend
    build: ./backend
    ports:
      - '8002:8002'
    command: bash -c 'python -u -m uvicorn main:application --host 0.0.0.0 --port 8002'
    volumes:
      - ./backend:/backend
    restart: always
    env_file: ./backend/.env
    networks:
      - chat-network
    depends_on:
      - mongo

networks:
  chat-network:
    driver: bridge
    external: true

volumes:
  data: